<div class="row">
  <div class="col-12 text-center">
    <h1 class="fs-2 mb-2">Панель администратора</h1>
    <p class="mb-0">Посты ожидающие проверки:</p>
  </div>
</div>

<%= render @pending_posts %>


